<?xml version="1.0" encoding="UTF-8" ?>
<!-- Specify the refresh internal in seconds. -->
<Configuration monitorInterval="5" packages="org.apereo.cas.logging">
    <Properties>
        <!-- 
        Default log directory is the current directory but that can be overridden with -Dcas.log.dir=<logdir>
        Or you can change this property to a new default
        -->
        <Property name="cas.log.dir" >logs/</Property>
        <!-- To see more CAS specific logging, adjust this property to info or debug or run server with -Dcas.log.leve=debug -->
        <Property name="cas.log.level" >debug</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%c] - &lt;%m&gt;%n"/>
        </Console>
        <CasAppender name="casConsole">
            <AppenderRef ref="console" />
        </CasAppender>
    </Appenders>
    <Loggers>
        <!-- If adding a Logger with level set higher than warn, make category as selective as possible -->
        <!-- Loggers inherit appenders from Root Logger unless additivity is false -->
        
        <!-- always warns -->
        <AsyncLogger name="org.springframework.messaging.simp.broker.SimpleBrokerMessageHandler" level="warn" includeLocation="true"/>
        <AsyncLogger name="org.springframework.core.env.PropertySourcesPropertyResolver" level="warn" includeLocation="true"/>
        <AsyncLogger name="org.apache.directory.api.asn1" level="warn" includeLocation="true"/>
        <AsyncLogger name="org.springframework.webflow.engine.impl.FlowExecutionImpl" level="warn" includeLocation="true"/>
        <AsyncLogger name="org.springframework.webflow.mvc.view.AbstractMvcView" level="warn" includeLocation="true"/>
        <AsyncLogger name="org.springframework.webflow.mvc.servlet.FlowHandlerMapping" level="warn" includeLocation="true"/>
        <AsyncLogger name="org.springframework.webflow.executor.FlowExecutorImpl" level="warn" includeLocation="true"/>

        <!-- debugs -->
        <AsyncLogger name="org.springframework.binding" level="debug" includeLocation="true"/>
        <AsyncLogger name="org.springframework.webflow" level="debug" includeLocation="true"/>
        <AsyncLogger name="org.apereo.cas.web.flow" level="debug" includeLocation="true"/>
        <AsyncLogger name="org.apereo.cas.pm.web.flow" level="debug" includeLocation="true"/>
        <AsyncLogger name="org.apereo.cas.authentication" level="debug" includeLocation="true"/>

        
        <!-- All Loggers inherit appenders specified here, unless additivity="false" on the Logger -->
        <AsyncRoot level="info">
            <AppenderRef ref="casConsole"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
